/*
 * Setup styles. Don't touch
 */
#fuzzbox {position:absolute;z-index:601;top:0;right:0;left:0;}
#fzz-overlay {position:fixed;top:0;right:0;bottom:0;left:0;}
#fzz-outer {position:absolute;left:0;top:0;right:0;}
#fzz-wrapper {position:relative;max-width:90%;top:0;margin:auto;background:#222;color:#fff;outline:0}
#fzz-loading {position:absolute;top:0;right:0;bottom:0;left:0;}
#fzz-inner {position:relative;}
#fzz-content {overflow:hidden;min-height:10em;text-align:center;
	-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
#fzz-close {position:absolute;top:0;right:0;z-index:2;}
#fzz-handle {display:none;}
#fuzzbox .disabled {cursor:default;outline:0;}
#fuzzbox iframe,
#fuzzbox img {vertical-align:bottom;}
#fuzzbox.fzz-itemcount-1 #fzz-next,
#fuzzbox.fzz-itemcount-1 #fzz-previous {display:none;}
#fzz-content img.fzz-hero {max-width:100%;height:auto;width:auto;vertical-align:middle;}

.fzz-fixed, .fzz-fixed body {overflow:hidden;}
.fzz-fixed #fzz-viewport {position:fixed;top:0;right:0;bottom:0;left:0;overflow:auto;overflow-y:scroll;overflow-x:auto;}

/*
------------------ Styling guide --------------------

Stylable elements
-----------------
.fzz-theme-<theme> {}               -> The main container
.fzz-theme-<theme> #fzz-overlay {}  -> The full-screen overlay behind the box
.fzz-theme-<theme> #fzz-wrapper {}  -> The full-screen overlay behind the box
.fzz-theme-<theme> #fzz-loading {}  -> The loading overlay
.fzz-theme-<theme> #fzz-handle {}   -> The drag and drop handle
.fzz-theme-<theme> #fzz-inner {}    -> The content area wrapper (apply padding here)
.fzz-theme-<theme> #fzz-content {}  -> The content area
.fzz-theme-<theme> #fzz-caption {}  -> The caption
.fzz-theme-<theme> #fzz-close {}    -> The close btn
.fzz-theme-<theme> #fzz-previous {} -> The previous btn
.fzz-theme-<theme> #fzz-next {}     -> The next btn

Event styling hooks
-------------------
.fzz-theme-<theme>.fzz-startup #fzz-<element> {} -> When box is opened and before content is displayed
.fzz-theme-<theme>.fzz-open #fzz-<element> {}    -> When box is opened and content is displayed
.fzz-theme-<theme>.fzz-loading #fzz-<element> {} -> When content is loading

Context styling hooks
---------------------
.fzz-theme-<theme>.fzz-media-<mediatype> #fzz-<element> {} -> Applies the current item <mediatype>

-------------------- Customize below this line --------------------
*/

